.jumbotron {
    margin-top: 50px;
    height: 300px;
    text-align: center;
}

.servicesCard {
  margin: 50px;
}

.barbersCard {
    margin: 20px;
}

/* Inspired from https://stackoverflow.com/questions/19414856/how-can-i-make-all-images-of-different-height-and-width-the-same-via-css */
.barberImg {
    width: 100%;
    max-width: 343px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

#barbers {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: grey;
}

#barbers h1 {
    color: white;
}
