 /* Inspired by https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
 .sidenav {
    height: auto;
    width: 175px;
    margin-right: 10px;
    position: sticky;
    float: left;
    left: 0;
    background-color: white;
    border: 1px solid black;
  }

/* Inspired by https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sidenav p {
    padding-left: 15px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    outline: none;
  }

  .sideNavSection {
    margin-bottom: 15px;
    border-top: 1px solid grey;
  }

  .sideNavSubSection {
    margin-left: 20px;
  }
  
  .sideNavHeader {
    background-color:black;
  }

  #sideNavTitle{
    margin: 0;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid black;
    background-color: #ddd;
    width: auto;
  }

  .beatsContainer{
      margin-left: 200px;
  }

  .beat {
      border: 0.1px solid black;
      max-width: 500px;
      margin: 10px;
      box-shadow: 0 0 10px 1px white;
      color: azure;
      background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .3))
  }

  .beatPic {
      height: 100px;
      width: 150px;
  }

  .beats {
    display: flex;
    flex-wrap: wrap;
  }

  .beatsBG {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/beatsBG.png");
}


.mainText {
    padding-top: 200px;
    height: 500px;
    text-align: center;
    color: white;
}

.beatsContent {
  margin-top: 25px;
}
