.jumbotron {
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/studio.png");
}

.mainText {
    padding-top: 200px;
    height: 500px;
    text-align: center;
}

.servicesCard {
    margin-left: 25px;
    margin-right: 25px;
}

.subSection {
    min-height: 500px;
    align-items: center;
}

.row {
    flex-wrap: nowrap;
    justify-content: center;
}

#root {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

h1 {
    color: white;
}

hr {
    border: 2px solid white;
     border-radius: 5px;
     box-shadow: 0 0 10px 1px black;
}

.mainContainer {
    min-height: 1500px;
}