.jumbotron {
    min-height: 500px;
}

.mainText {
    padding-top: 200px;
    height: 500px;
    text-align: center;
}

.servicesCard {
    margin: 25px;
}

.subSection {
    min-height: 450px;
    display: flex;
    align-items: center;
}

.row {
    flex-wrap: nowrap;
    justify-content: center;
}